node_modules

scratchpad.js

.DS_Store


\.vscode/
.vscode/
.vscode/settings.json
.vscode

config.json
config/config.js
config/configBackup.json
config/configBackup.js

*.sqlite
botstion.sqlite-journal
config/gaydar.js
