{"Where IS the token?": "It's been tabbed waaay far out, you'll need to scroll to the right to view it. (So you can't accedentally leak it.)",                                                                                                                                                                                                                   "token": "",
 "globalroleoverrides": {
                         "owner": 158311402677731328,
                         "maintainer": [],
                         "administrator":[],
                         "moderator":[],
                         "regular":[],
                         "banned": []
                        },
 "mongoURL": "",
 "prefix": "bselfhost!"
}