body {
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
  margin: 0;
}
#imagesContainer {
  line-height: 0px;
  white-space: nowrap;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  background: #111;
  filter: blur(1px) brightness(30%);
}
.imageWallImg {
  transition: 0.4s transform linear;
  transform-style: preserve-3d;
  background-image: url("logo.svg");
  z-index: -1;
}